body {
  background-image: url("bg.png");
  color: white;
  width: 1024px;
  margin: 20px auto;
  font-size: 13px;
  font-family: monospace;
}

/
/* line 92, ../sass/style.scss */
.container {
  background-color: #1A1A1A;;
  display: block;
}


/* line 133, ../sass/style.scss */
#waifu {
  position: relative;
  float: left;
  background-color: #1A1A1A;;
  border: 6px solid #404040;
   margin: 10px 5px 15px 10px;
  width: 242px;
  height: 557px;
}

/* line 142, ../sass/style.scss */
.waifu_img {
  width: 242px;
  height: 557px;
}

/* line 147, ../sass/style.scss */
#links_block {
  position: relative;
  float: right;
  background-color: #1A1A1A;
  width: 706px;
  height: 239px;
   padding: 5px;
  border: 6px solid #404040;
  margin: 10px 15px 15px 5px;
}

#about {
  position: relative;
  float: right;
  background-color: #1A1A1A;;
  width: 716px;
  height: 281px;
  border: 6px solid #404040;
  margin: 0 15px 15px 5px;
}

#about span {
  color: #E1AA5D;
}

#about h3{
  text-align: center;
  color: pink;
}

#about p:nth-child(3) {
  text-align: center;
  color: #4D679A;
}

#about p{
  text-align: center;
    color: #B8D68C;
}



#search {
  float: left;
  margin: 0 0 0 6px;
  padding: 0;
}
#links {
  margin: 7px 0px 0px 2px;
  font-size: 12px;
  height: 172px;
}
.PS1 {
  padding: 5px 0px 0px 5px;
  display: block;
  width: 585px;
}
.PS1:nth-of-type(1)::after {
  content: " links -meryborn";
  margin: 0 0 0 6px;
  font-size: 13px;
  color: #B8D68C;
}
.at::before {
  content: "meryborn";
  color: #B8D68C;
}
.at {
  float: left;
  color: #CCCCCC;
}
.at::after {
  content: "PonyBook";
  color: #4E9FB1;
}
.amper::before {
  content: ":";
  color: #CCCCCC;
}
.amper {
  float: left;
  color: #9B64FB;
}
.amper::after {
  content: " >>";
  color: #E84F4F;
}
.main li {
  color: #E84F4F;
}
.main li a:hover {
  color: #D23D3D;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.utils li {
  color: #B8D68C;
}
.utils li a:hover {
  color: #A0CF5D;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.gfx li {
  color: #E1AA5D;
}
.gfx li a:hover {
  color: #F39D21;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.unix li {
  color: #4D679A;
}
.unix li a:hover {
  color: #4E9FB1;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.forums li {
  color: #9B64FB;
}
.forums li a:hover {
  color: #8542FF;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.bits li {
  color: #6D878D;
}
.bits li a:hover {
  color: #42717B;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

a {
  color: #DDDDDD;
  text-decoration: none;
  display: block;
  float: none;
}
ul {
  list-style: none;
  padding: 6px 4px 8px 6px;
  margin: 0;
  width: 165px;
  float: left;
}
input[type="submit"] {
  display: none;
}
input {
  background-color: #1A1A1A;
  color: #DDDDDD;
  border: none;
  font-family: monospace;
  padding: 0;
}

.resume {
  color: #E84F4F;
}
.resume a:hover {
  color: #D23D3D;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}