html, body {
	background-color: #E2DAF0;
}

h3{
	color: #646C88;
}
p, h1{
	color: #76727D;
}
 h3, p, a{
	text-align: center;
}

a{
	text-decoration:none;
	cursor: pointer;
	color: #3689C8;
}
a:hover, a:active{
	text-decoration:none;
	cursor: pointer;
	color: #3689C8 ;
}