video {
    position: absolute; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
}

body{
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-size: 25px;
}
