@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body {
    font-family: 'Open Sans', sans-serif;
 	font-weight: 400;
    text-transform: none;
}




			/*Logo + phones*/


#top-header.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
}
#top-header.navbar-default {
    
    background-color: rgba(78, 77, 70, 1);
    border: 0px;
    border-radius: 0px;
    height: 110px;
    padding-top: 30px;
}
#top-header.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(78, 77, 70, 1);
}
#top-header.navbar-default .navbar-nav>li>a:hover,
#top-header.navbar-default .navbar-nav>li>a:focus {
    color: rgba(78, 77, 70, 1);
    background-color: rgba(255, 255, 255, 1);
}
#top-header.navbar-default .navbar-nav>.active>a,
#top-header.navbar-default .navbar-nav>.active>a:hover,
#top-header.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(78, 77, 70, 1);
}
#top-header.navbar-default .navbar-toggle {
    border-color: #4e4d46;
}
#top-header.navbar-default .navbar-toggle:hover,
#top-header.navbar-default .navbar-toggle:focus {
    background-color: #4e4d46;
}
#top-header.navbar-default .navbar-toggle .icon-bar {
    background-color: #4e4d46;
}
#top-header.navbar-default .navbar-toggle:hover .icon-bar,
#top-header.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #4e4d46;
}
#top-header.navbar{
	margin-bottom: 0px;
}

#top-header .dropdown {
	padding-top: 10px;
}


/*Navigation*/

#comfort-menu.navbar-default {
    font-size: 12px;
    letter-spacing:3px;
    background-color: rgba(248, 248, 248, 1);
    border-bottom-width: 0px;
    margin-top: 0px;
    height: 70px;
    padding-top: 10px;
    margin-bottom: 0px;
    z-index: 1;
}
#comfort-menu.navbar-default .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(248, 248, 248, 0);
}
#comfort-menu.navbar-default .navbar-nav>li>a:hover,
#comfort-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(185, 158, 93, 1);
    background-color: rgba(248, 248, 248, 0);
}
#comfort-menu.navbar-default .navbar-nav>.active>a,
#comfort-menu.navbar-default .navbar-nav>.active>a:hover,
#comfort-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(185, 158, 93, 1);
    background-color: rgba(0, 0, 0, 0);
}
#comfort-menu.navbar-default .navbar-toggle:hover .icon-bar,
#comfort-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #f8f8f8;
}

		/*Text to uppercase*/


.uppercase {
    text-transform: uppercase;
}



/*Search*/
.container.search{
	margin: 0;
}
.search {
	color: #FFFFFF;
	font-size: 20px;
	text-align: left;
    background-color: #000;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/Luxury-House.jpg");
    background-size: cover;
    display: block;
    height: 550px;
    width: 100%;
    background-position: center;
    -webkit-filter: grayscale(0.5);   
 	 filter: grayscale(0.5);	
 	 padding-top: 150px;		
}

.button {
    background-color: white; 
    color: #A1A1A1;
    width: 100%;
    border: none;
   	margin-bottom: 10px; 
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
    text-align: left;
}
.search-button{
	background-color: #B99E5D;
	padding-bottom: 7px;
	padding-top: 10px;
	color: white;
	font-size: 18px;
	font-weight: 700;
	 display: inline-block;
  vertical-align: bottom;
}

#searchico { 
   background:url(../images/search_icon.png) right top; 
   width:42px; 
   height:34px;
   padding-bottom: 10px;
   display: block;
   float: right;
}

.arrow { 
   background:url(../images/arrow.png) right; 
   width:37px; 
   height:15px;
   display: block;
   float: right;
}

	/*Gold Number '4'*/
.gold {

	background-color: #B99E5D;
	color: white;
	padding: 0 10px;
}

/*News Block */
.news{
	border-top: 6px solid #B9AE8D;
	color: #FFF;
	text-align: left;
	background-color: #A6986E;   
    background-size: cover;
    display: block;
    height: 420px;
    width: 100%;
    background-position: center;
    padding-top: 50px;
}


/*Top Offer*/

.top-offer {
    padding-top: 50px;
}

.top-offer .container>p{
	font-size: 24px;
	font-weight: 300;
	text-align: center;
}


.top_images{
	width: 100%;
	height: 300px;
}

/*Ghost Buttons*/

.ghost-button-transition {
  display: inline-block;
  width: 200px;
  padding: 10px 15px;
  color: #fff;
  border: 2px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.ghost-button-transition:hover,
.ghost-button-transition:active {
	  text-decoration: none;
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}
a:visited{
	text-decoration: none;
}


.bold-h2{
	   font-weight: bold;
}


/*Footer*/

.footer{
	background-color: #B99E5D;   
    background-size: cover;
    display: block;
    height: 100px;
    width: 100%;
    background-position: center;
}
.copyright{
	background-color: #AF9659;   
    background-size: cover;
    display: block;
    height: 50px;
    width: 100%;
    background-position: center;
    bottom: 0;
    color: #D1BC88;
    text-align: center;
    padding-top: 15px;
}

.text-footer {
	text-align: right;
	padding-top:25px;
	color: #DAC286;
	font-size: 12px;
}

#clock {
	padding-top: 20px;
	position: center;
	width: 60%; 
	height: 60%;
}

#web {
	padding-top: 10px;
	position: center;
}

#social-links {
	right: 150px;
	text-align: right;
	 padding-top:35px;
}

#smart {
	padding-top: 15px;
}
.image-right{
	text-align: right;
}

.block-grey {
	background-color: #EFEFEF;
	background-size: 100%;
	border: 10px  solid white; 
	padding: 0; 
}
.phone-nav{
	color: #FFF;
	font-size: 20px;
	padding-top: 13px;
	margin-left: 25px;
}

#phone-image{

	width: 85%; 
	height: 85%;
}

.phone-gold{
	color: #B99E5D;
}

 /*Dropdown language*/
.btn {
    padding: 6px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-default {
    background: #B99E5D;
     border-color:#A68E53;
    color: #FFF;
}
 
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
   background: #B99E5D;
    border-color:#A68E53;
    color: #FFF;
}
 
.btn-default:active, .btn-default.active {
    background: #B99E5D;
    color: #FFF;
    box-shadow: none;
}
.btn.sharp {
  border-radius:0;
}

.caret-new {
  display: inline-block;
  width: 2px;
  height: 2px;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid #FFF;
  border-right: 4px solid transparent;
  border-bottom: 0 dotted;
  border-left: 4px solid transparent;
  content: "";
}

.open>.dropdown-toggle.btn-default:focus, 
.open>.dropdown-toggle.btn-default:hover {
    background-color: #A68E53;
    border-color:#A68E53;

}


.input-lg, input {
	height: 50px;
		border: none;
	border-radius: 0;
}

.nav-center {


}

/*Navigation Bottom*/

#comfort-menu-bottom.navbar-default {
    font-size: 12px;
    letter-spacing:3px;
    background-color: white;
    border-bottom-width: 0px;
    margin-top: 0px;
    height: 70px;
    padding-top: 10px;
    margin-bottom: 0px;
    vertical-align: center;
  text-align: center;
}
#comfort-menu-bottom.navbar-default .navbar-nav>li>a {
    color: rgba(119, 119, 119, 1);
    background-color: rgba(248, 248, 248, 0);
}
#comfort-menu-bottom.navbar-default .navbar-nav>li>a:hover,
#comfort-menu-bottom.navbar-default .navbar-nav>li>a:focus {
    color: rgba(185, 158, 93, 1);
    background-color: rgba(248, 248, 248, 0);
}
#comfort-menu-bottom.navbar-default .navbar-nav>.active>a,
#comfort-menu-bottom.navbar-default .navbar-nav>.active>a:hover,
#comfort-menu-bottom.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(185, 158, 93, 1);
    background-color: rgba(0, 0, 0, 0);
}
#comfort-menu-bottom.navbar-default .navbar-toggle:hover .icon-bar,
#comfort-menu-bottom.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #f8f8f8;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

#contacts {
	font-size: 24px;
	text-align: center;
	padding-top: 40px;
}

.contact-info{
	text-align: left;
	padding: 30px auto;
	font-size: 30px;

}

.social-icon-top{
	padding-top: 5px;
}

.news-header {
	padding: 10px 0 0 25px;
	font-size: 16px;
	font-weight: 700;

}

.news-desc {
	padding:25px 20px; 
	font-size: 15px;
	letter-spacing: 1px;
}

.news-auth {
	color: #ABABAB;
	padding: 15px 0 20px 30px;
	width: 50%;
	float: left;
}

hr {
    margin-top: 0; 
    margin-bottom: 0;
    border: 2px;
    border-top: 1px solid #ABABAB;
}

.bottom-line{
	margin-top: 40px;
	size:8;
	width: 85%;
}

.news-search{
	 width: 35%;
	 height: 50px;
	 margin: 15px 15px 20px 0;
	 padding: 10px 25px;
	 float: right;
	 background-color: #B99E5D;
	 	color: white;
	font-size: 18px;
	font-weight: 700;
	 display: inline-block;
  vertical-align: bottom;
}

.arrow-right { 
   background:url(../images/arrow-right.png) right; 
   width:22px; 
   height:27px;
   display: block;
   float: right;
}