* {
	margin: 0;
	padding: 0;
}

body {
	font: 100%/1.5em Arial,Helvetica,sans-serif;
	color: #000;
	/*background: #000000;*/
}

.container {
	background: #e2e2e2;
	width: 90%;
	margin: 0 auto;
}

section {
	width: 67.7083333%;
	float: left;
}

aside {
	background: #d1d1d1;
	width: 31.25%;
	float: right;
}

footer {
	clear: both;
}

.logo {
	position:absolute;
	opacity: 0;
	margin: 10% auto;
	height: 45%;
	opacity: 1;
}
.second_image {
	position: absolute;
	margin: -25% auto ;
	height: 45%;
}

.anime_image {
	position: absolute;
	margin: -30% auto;
	height: 45%;
	overflow:visible;
}

#start-anim {
	margin-right:30px;
}

#anim_text {
	width:90%;
	margin:10px auto;
	overflow:visible;
	text-align:center;
	font-size:30px;
}

#anim_text span {
	position: relative;
	display:inline-block;
	-webkit-font-smoothing:antialiased;
}
