 body { 
	margin-top: 60px; 	
	font-size: 16px;
}

.background-image {
    background-image: url("../img/bg.jpg");   
    background-size: cover;
    display: block;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    position: fixed;
    height: 100%;
    width:100%;
    left: -9;
    bottom: 0;
    right: -9;
}

.navbar  {
	 border: none;
	}
.thumbnail {
background-color: #222222;
border: none;
}
 h5 {
	color: #FFFFFF;
}