<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Angular Js</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-app>
<!-- <div class="box">
	<label>Name:</label>
	<input type="text" ng-model="yourName" placeholder="Enter your name here">
	<hr>
	<h1>Hello {{yourName}} !</h1>
</div>
<input type="checkbox" ng-model="ShowCheck">
<div ng-show="ShowCheck">Text after click</div>
 -->
<h2>To Do App</h2>
<div ng-controller="TodoListController as todo List">
<span>{{totoList.remaining()}} of {{todoList.tedes.length}} remaining</span>
[ <a href="" ng-click="todoList.archive()">archive</a> ]
<ul class="unstyled">
	<label class="checkbox">
		<input type="checkbox" ng-model="todo.done">
		<span class="done {{todo-done}}">{{todo.text}}</span>
	</label>
</ul>	
</div>

 </body>
</html>